
@{
    ViewBag.Title = "客戶列表";
}

<h2>客戶列表</h2>


<a href="/Home/Add" class="btn btn-primary">新增</a>
<br /><br />
<table class="table" id="tableshow">
    <tr>
        <th>編號</th>
        <th>姓名</th>
        <th>電話</th>
        <th>信箱</th>
        <th>地址</th>
        <th></th>
    </tr>
</table>

<script src="~/js/list.js"></script>

