@model IEnumerable<OnlineShopping.Models.Products>

@{
    ViewBag.Title = "Index";
}

<br />

@foreach (var item in Model) {
   <div class="col-lg-4">
       <div class="thumbnail">
           <img src="~/images/@item.Image" style="width:70%" />
           <div class="caption">
               <h2>@item.Name</h2>
               <h2>單價:@item.Price</h2>
               <p>
                   <a href="@Url.Action("AddCar")?Pid=@item.PId" class="btn btn-primary">加入購物車</a>
               </p>
           </div>


       </div>

   </div>
  
}

